<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comnos.mapper.FileMapper">

<insert id="insert">
	INSERT INTO PRODUCT_FILE(PRODUCT_NO, FILENAME)
	VALUES (#{PRODUCT_NO}, #{FILE_NAME})
</insert>

<delete id="deleteByPno">
	DELETE FROM PRODUCT_FILE
	WHERE PRODUCT_NO = #{PRODUCT_NO}
</delete>


</mapper>