<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comnos.mapper.OrderMapper">

	<select id="getOutList" resultType="comnos.domain.OrderVO">
		SELECT DISTINCT
			W.WAREHOUSE_ORDER_NO ORDER_NO, 
			W.WAREHOUSE_ORDER_DATE ORDER_DATE,
			W.WAREHOUSE_ORDER_STATUS ORDER_STATUS, 
			W.EMP_CODE EMP_CODE,
			E.EMP_NAME EMP_NAME
		FROM WAREHOUSE_ORDER W LEFT JOIN EMPLOYEE E ON W.EMP_CODE = E.EMP_CODE 
		ORDER BY W.WAREHOUSE_ORDER_DATE ASC
	</select>	
	
	<select id="getOrderDetail" resultType="comnos.domain.OrderVO">
		SELECT DISTINCT
			W.WAREHOUSE_ORDER_NO ORDER_NO, 
			W.WAREHOUSE_ORDER_DATE ORDER_DATE,
			W.PRODUCT_NO PRODUCT_NO,
			W.WAREHOUSE_ORDER_EA ORDER_EA,
			W.WAREHOUSE_ORDER_STATUS ORDER_STATUS, 
			W.EMP_CODE EMP_CODE,
			P.PRODUCT_TYPE PRODUCT_TYPE,
			P.PRODUCT_NAME PRODUCT_NAME
		FROM WAREHOUSE_ORDER W LEFT JOIN PRODUCT P ON W.PRODUCT_NO = P.PRODUCT_NO 
		WHERE W.WAREHOUSE_ORDER_NO = #{ORDER_NO}
		ORDER BY W.WAREHOUSE_ORDER_DATE ASC	
	</select>

	<insert id="insertOutOrder">
		INSERT INTO WAREHOUSE_ORDER ( 
			WAREHOUSE_ORDER_NO, 
			PRODUCT_NO, 
			WAREHOUSE_ORDER_EA, 
			WAREHOUSE_ORDER_STATUS, 
			EMP_CODE) 
		VALUES ( 
			#{ORDER_NO}, 
			#{PRODUCT_NO}, 
			#{ORDER_EA}, 
			#{ORDER_STATUS},  
			#{EMP_CODE})
	</insert>
	
	<select id="read" resultType="comnos.domain.OrderVO">
		SELECT 
			WAREHOUSE_ORDER_NO ORDER_NO, 
			WAREHOUSE_ORDER_DATE ORDER_DATE, 
			PRODUCT_NO PRODUCT_NO, 
			WAREHOUSE_ORDER_EA ORDER_EA, 
			WAREHOUSE_ORDER_STATUS ORDER_STATUS, 
			EMP_CODE EMP_CODE
		FROM WAREHOUSE_ORDER
		WHERE WAREHOUSE_ORDER_NO = #{ORDER_NO}
	</select>
	
	<update id="update">
		UPDATE WAREHOUSE_ORDER
		SET
			PRODUCT_NO = #{PRODUCT_NO}, 
			WAREHOUSE_ORDER_EA = #{ORDER_EA}, 
			WAREHOUSE_ORDER_STATUS = #{ORDER_STATUS}, 
			EMP_CODE = #{EMP_CODE}
		WHERE
			WAREHOUSE_ORDER_NO = #{ORDER_NO}
	</update>
	
	<update id="statusUpdate">
		UPDATE WAREHOUSE_ORDER
		SET
			WAREHOUSE_ORDER_STATUS = #{ORDER_STATUS}
		WHERE
			WAREHOUSE_ORDER_NO = #{ORDER_NO}
	</update>
	
	<select id="checkOrderNo" resultType="Integer">
		SELECT EXISTS
			( SELECT * FROM WAREHOUSE_ORDER
			  WHERE WAREHOUSE_ORDER_NO = #{ORDER_NO})
		as isChk;
	</select>
	
</mapper>