<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comnos.mapper.StoreOrderMapper">
	
	<select id="getList" resultType="comnos.domain.OrderVO">	
		SELECT DISTINCT
			O.STORE_ORDER_NO ORDER_NO, 
			O.STORE_NO STORE_NO, 
			O.STORE_ORDER_DATE ORDER_DATE,
			O.PRODUCT_NO PRODUCT_NO,
			O.STORE_ORDER_EA ORDER_EA,
			O.STORE_ORDER_STATUS ORDER_STATUS, 
			O.EMP_CODE EMP_CODE,
			S.STATUS_NAME STATUS_NAME
		FROM STORE_ORDER O
		LEFT JOIN STATUS S ON O.STORE_ORDER_STATUS = S.STATUS_ID
		ORDER BY O.STORE_ORDER_DATE ASC
	</select>
	
	<select id="getListWithStatus" resultType="comnos.domain.OrderVO">	
		SELECT DISTINCT
			STORE_ORDER_NO ORDER_NO, 
			STORE_NO STORE_NO, 
			STORE_ORDER_DATE ORDER_DATE,
			PRODUCT_NO PRODUCT_NO,
			STORE_ORDER_EA ORDER_EA,
			STORE_ORDER_STATUS ORDER_STATUS, 
			EMP_CODE EMP_CODE
		FROM STORE_ORDER
		WHERE STORE_ORDER_STATUS = #{status}
		ORDER BY STORE_ORDER_DATE ASC
	</select>
	
	
	<select id="getListWithPaging" resultType="comnos.domain.OrderVO">	
		SELECT DISTINCT
			O.STORE_ORDER_NO ORDER_NO, 
			O.STORE_NO STORE_NO, 
			O.STORE_ORDER_DATE ORDER_DATE,
			O.STORE_ORDER_STATUS ORDER_STATUS, 
			O.EMP_CODE EMP_CODE,
			S.STATUS_NAME STATUS_NAME
		FROM STORE_ORDER O 
		LEFT JOIN STATUS S ON O.STORE_ORDER_STATUS = S.STATUS_ID
		WHERE STORE_ORDER_STATUS LIKE #{type}
		ORDER BY STORE_ORDER_DATE ASC
	</select>
	
	<select id="getOrderList" resultType="comnos.domain.OrderVO">	
		SELECT DISTINCT
			S.STORE_ORDER_NO ORDER_NO, 
			S.STORE_NO STORE_NO, 
			S.STORE_ORDER_DATE ORDER_DATE,
			S.STORE_ORDER_STATUS ORDER_STATUS, 
			S.EMP_CODE EMP_CODE,
			E.EMP_NAME EMP_NAME,
			ST.STATUS_NAME STATUS_NAME,
			STO.STORE_NAME STORE_NAME
		FROM STORE_ORDER S
		LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE
		LEFT JOIN STATUS ST ON S.STORE_ORDER_STATUS = ST.STATUS_ID
		LEFT JOIN STORE STO ON S.STORE_NO = STO.STORE_NO
		ORDER BY S.STORE_ORDER_DATE ASC
	</select>
	
	
	<select id="getOrderDetail" resultType="comnos.domain.OrderVO">
		SELECT DISTINCT
			S.STORE_ORDER_NO ORDER_NO, 
			S.STORE_ORDER_DATE ORDER_DATE,
			S.STORE_NO STORE_NO, 
			S.PRODUCT_NO PRODUCT_NO,
			S.STORE_ORDER_EA ORDER_EA,
			S.STORE_ORDER_STATUS ORDER_STATUS, 
			S.EMP_CODE EMP_CODE,
			P.PRODUCT_TYPE PRODUCT_TYPE,
			P.PRODUCT_NAME PRODUCT_NAME,
			ST.STORE_NAME STORE_NAME,
			E.EMP_NAME EMP_NAME,
			STA.STATUS_NAME STATUS_NAME
		FROM STORE_ORDER S
		LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE
		LEFT JOIN PRODUCT P ON S.PRODUCT_NO = P.PRODUCT_NO
		LEFT JOIN STORE ST ON S.STORE_NO = ST.STORE_NO
		LEFT JOIN STATUS STA ON S.STORE_ORDER_STATUS = STA.STATUS_ID
		WHERE S.STORE_ORDER_NO = #{ORDER_NO}
		ORDER BY S.STORE_ORDER_DATE ASC	
	</select>
	
		<insert id="insert">
		INSERT INTO STORE_ORDER ( 
			STORE_ORDER_NO,
			STORE_NO, 
			PRODUCT_NO, 
			STORE_ORDER_EA, 
			STORE_ORDER_STATUS, 
			EMP_CODE) 
		VALUES ( 
			#{ORDER_NO},
			#{STORE_NO}, 
			#{PRODUCT_NO}, 
			#{ORDER_EA}, 
			#{ORDER_STATUS},  
			#{EMP_CODE})
	</insert>
	
	<update id="statusUpdate">
		UPDATE STORE_ORDER
		SET
			STORE_ORDER_STATUS = #{ORDER_STATUS}
		WHERE
			STORE_ORDER_NO = #{ORDER_NO}
	</update>

	<select id="checkOrderNo" resultType="Integer">
		SELECT EXISTS
			( SELECT * FROM STORE_ORDER
			  WHERE STORE_ORDER_NO = #{ORDER_NO})
		as isChk;
	</select>



</mapper>