<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="comnos.mapper.StoreInMapper">

<select id="getList" resultType="comnos.domain.OrderVO">
	SELECT DISTINCT
		IN_NO ORDER_NO, 
		IN_DATE ORDER_DATE,
		STORE_NO STORE_NO,
		PRODUCT_NO PRODUCT_NO,
		IN_EA ORDER_EA, 
		EMP_CODE EMP_CODE
	FROM STORE_IN_PRODUCT 
	ORDER BY IN_DATE ASC
</select>


<select id="getListOrder" resultType="comnos.domain.OrderVO">
	SELECT DISTINCT
		S.IN_NO ORDER_NO, 
		S.IN_DATE ORDER_DATE,
		S.STORE_NO STORE_NO, 
		S.EMP_CODE EMP_CODE,
		E.EMP_NAME EMP_NAME
	FROM STORE_IN_PRODUCT S 
	LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE
	ORDER BY IN_DATE ASC, ORDER_NO ASC
</select>	

<select id="getDetail" resultType="comnos.domain.OrderVO">
	SELECT DISTINCT
		S.IN_NO ORDER_NO, 
		S.IN_DATE ORDER_DATE,
		S.STORE_NO STORE_NO, 
		S.EMP_CODE EMP_CODE,
		E.EMP_NAME EMP_NAME,
		S.PRODUCT_NO PRODUCT_NO,
		S.IN_EA ORDER_EA,
		P.PRODUCT_TYPE PRODUCT_TYPE,
		P.PRODUCT_NAME PRODUCT_NAME,
		ST.STORE_NAME STORE_NAME
	FROM STORE_IN_PRODUCT S 
	LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE
	LEFT JOIN PRODUCT P ON S.PRODUCT_NO = P.PRODUCT_NO
	LEFT JOIN STORE ST ON S.STORE_NO = ST.STORE_NO
	WHERE S.IN_NO =#{ORDER_NO}

</select>


<insert id="insert">
	INSERT INTO STORE_IN_PRODUCT ( 
		IN_NO,
		STORE_NO, 
		PRODUCT_NO, 
		IN_EA, 
		EMP_CODE) 
	VALUES ( 
		#{ORDER_NO},
		#{STORE_NO}, 
		#{PRODUCT_NO}, 
		#{ORDER_EA},   
		#{EMP_CODE})
</insert>

<select id="checkOrderNo" resultType="Integer">
	SELECT EXISTS
		( SELECT * FROM STORE_IN_PRODUCT
		  WHERE IN_NO = #{ORDER_NO})
	as isChk;
</select>



</mapper>